.separator {
    border-top: 2px solid #666;
    font-weight: bold;
}

[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}

.btn-default {
    background-color: #fff;
    color: #000;
    border-color: #ccc;
}

body, .table{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#666;
    .btn-default {
        color: #444;
    }
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.89rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.btn-ssm, .btn-group-ssm > .btn {
    padding: 0.22rem 0.4rem;
    font-size: 0.82rem;
    line-height: 1;
    border-radius: 0.2rem;
}


.killed, .bg-killed, .bg-killed-light {
    background-color: #aaa;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}

a.dropdown-toggle a.dropdown-toggle.dropdown-item {
    display:None
}

.dropdown-toggle:after { content: none }

.branch_name {
    max-width: 300px;
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.branch_time {
    float:right;
    margin-left:10px;
}